body {
  background-color: black;
}

.burger {
  position: relative;
  z-index: 4;
  
  margin-right: 96%; 
  margin-top: 25px;
  
}

.menu{
  display: none;
}
.one,
.two,
.tree {
  font-size: 6px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.69);
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 19px;
}
header {
  margin-top: -20px;
  
}
.container {
  position: relative;
  z-index: 3;
  display: block;
  padding-top: 25px;
  
  margin-left: 1px;
  background-color: linear-gradient(#6201fe, #a200ff);
  margin-right: 90%;
  border: solid;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.504);
  
}

.container button {
  margin-top: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.body {
  color: rgba(255, 255, 255, 0.904);
  
  position: fixed;
  z-index: 2;
  top: 0;
  left: 20px;
  display: none;
  margin-top: 80px;
}
ol {
  color: rgba(255, 177, 75, 0.983);
  border: solid;
  padding: 6px;
  padding-left: 23px;
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
background-color: #f6ff002e;
}
@media (max-width: 1920px) {
.burger{
  display: none;
}
.container{
  display: flex;
  margin-top: 0px;
  margin-right: 60%;
  padding-right: 30px;
  
  background-color:rgba(240, 255, 240, 0);
  border: none;
}
.container button {
  margin-right: 30px;
  color: #b78aff;
  border: solid;
  border-radius: 10px 10px 10px 0px;
}

}
@media (max-width: 1366px) {
  .container{
    padding: 10px;
  }
  .container button {
font-size: 25px;

}
.body{
 
}
}
@media (max-width: 1024px) {
  .container button {
    font-size: 20px;
    
    
    }
    .body{
     
    }
}
